fastapi
uvicorn[standard]
python-dotenv
openai
qdrant-client
pymupdf
pandas
openpyxl
python-multipart
httpx
langchain-text-splitters
ragas==0.2.6
datasets
langchain-openai
langchain-core
langchain-community
tabulate
colorama
rapidfuzz